@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-neutral-100;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 1);

  background-image: url('/media/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
